<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddf.group.purchase.core.mapper.CommunityBaseMapper">
  <resultMap id="BaseResultMap" type="com.ddf.group.purchase.core.model.entity.CommunityBase">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="community_name" jdbcType="VARCHAR" property="communityName" />
    <result column="community_address" jdbcType="VARCHAR" property="communityAddress" />
    <result column="invalid_flag" jdbcType="BIT" property="invalidFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    id, community_name, community_address, invalid_flag
  </sql>

  <select id="selectByCommunityNameLike" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from community_base
    where community_name like concat('%', #{communityName}, '%')
  </select>
</mapper>
