<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddf.group.purchase.core.mapper.GroupPurchaseTraceMapper">
    <select id="selectByGroupPurchaseId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from group_purchase_trace
        where group_purchase_id = #{groupPurchaseId}
        order by ctime asc
    </select>
</mapper>
