<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddf.group.purchase.core.mapper.ext.UserJoinGroupInfoExtMapper">
    <insert id="batchInsert">
        insert into user_join_group_info(group_purchase_id, join_uid, ctime, subscribe_progress) values
        <foreach collection="list" item="record" separator=",">
            (#{record.groupPurchaseId}, #{record.joinUid}, #{record.ctime}, #{record.subscribeProgress})
        </foreach>
    </insert>

    <select id="myJoinGroup" resultType="com.ddf.group.purchase.api.response.group.MyJoinGroupPageResponse">
        select ujgi.group_purchase_id as id,
               ujgi.ctime             as joinTime,
               gpi.name,
               gpi.group_master_uid   as groupMasterUid,
               gpi.status,
               gpi.remark,
               gpi.ctime,
               gpi.mtime
        from user_join_group_info ujgi
                 left join group_purchase_info gpi on ujgi.group_purchase_id = gpi.id
        where ujgi.join_uid = #{query.joinUid}
        <if test="query.status != null">
            and gpi.status = #{query.status.value}
        </if>
        <if test="query.groupName != null and query.groupName != ''">
            and gpi.name like concat(#{query.groupName}, '%')
        </if>
        order by ujgi.ctime desc
    </select>

    <select id="selectJoinUids" resultType="java.lang.Long">
        select join_uid from user_join_group_info
        where group_purchase_id = #{groupId}
        and subscribe_progress = 1
    </select>
</mapper>
