server:
  tomcat:
    max-connections: 10000
    # 并发线程满之后允许后续请求排队数量，太大会导致后续请求响应时间过长
    acceptCount: 100
    threads:
      max: 600
      min-spare: 50
    processor-cache: 200
  # 服务优雅下线
  shutdown: graceful
  servlet:
    context-path: /group-purchase-manage
  port: 8080

spring:
  messages:
    basename: i18n/messages,i18n/biz_messages
    encoding: UTF-8
  lifecycle:
    timeout-per-shutdown-phase: 120s
  servlet:
    multipart:
      enabled: true
      max-file-size: 15MB
      max-request-size: 15MB
  profiles:
    active: dev
  application:
    name: group-purchase-manage
  redis:
    redisson:
      file: classpath:redisson.yml
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: com.mysql.cj.jdbc.Driver
    druid:
      username: root
      password: Aa&123456
      url: jdbc:mysql://${mysql_host}:3306/group_purchase_manage?useUnicode=true&characterEncoding=utf8&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Shanghai&zeroDateTimeBehavior=convertToNull
      initial-size: 10
      asyncInit: false
      max-active: 200
      min-idle: 10
      keep-alive: true
      max-wait: 60000
      use-unfair-lock: true
      time-between-eviction-runs-millis: 59000
      min-evictable-idle-time-millis: 590000
      validation-query: SELECT 1
      test-while-idle: true
      test-on-borrow: true
      test-on-return: false
      poolPreparedStatements: false
      max-open-prepared-statements: 20
      filter:
        stat:
          enabled: true
          log-slow-sql: true
          slow-sql-millis: 3000
        wall:
          enabled: true
          db-type: mysql
      stat-view-servlet:
        enabled: true
        url-pattern: /druid/*
        reset-enable: true
        login-username: admin
        login-password: Aa&123456
        allow:
  mail:
    host: localhost
    port: 465
    username: snowball
    password: snowball
    properties:
      from: Snowball Notice <notice@snowball.email>
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          ssl:
            enable: true
          socketFactory:
            port: 465
            class: javax.net.ssl.SSLSocketFactory
rocketmq:
  name-server: localhost:9876
  producer:
    group: boot-quick-producer-group
    access-key: xxxxxxx
    secret-key: xxxxxxx
    enableMsgTrace: true
    send-message-timeout: 7000
  consumer:
    group: boot-quick-consumer-group
    access-key: xxxxxxx
    secret-key: xxxxxxx
    enableMsgTrace: true

logging:
  level:
    root: info
    com.ddf.boot.common.mvc.logaccess.AccessLogAspect: info

customizer:
  infra:
    global-properties:
      # worker Id can't be greater than 31 or less than 0
      snowflakeWorkerId: 1
      # dataCenterId Id can't be greater than 31 or less than 0
      snowflakeDataCenterId: 1
      # 是否开启全局的日志打印详情（默认关闭， 先精准控制日志行为，线上排查问题时，可临时开启）
      globalLogPrintDetails: false
      # 要忽略的打印异常日志的异常完全类型
      ignoreLogExceptionClassName:
        - com.ddf.boot.common.api.exception.BusinessException
        - com.ddf.boot.common.api.exception.BadRequestException
        - com.ddf.boot.common.api.exception.AccessDeniedException
        - com.ddf.boot.common.api.exception.UnauthorizedException
        - org.springframework.http.converter.HttpMessageNotReadableException
        - org.springframework.security.access.AccessDeniedException
        - org.springframework.web.bind.MethodArgumentNotValidException
        - org.springframework.web.method.annotation.MethodArgumentTypeMismatchException
        - org.springframework.web.bind.MissingServletRequestParameterException
        - org.apache.catalina.connector.ClientAbortException
    authentication:
      secret: snowballsnowball
      tokenHeaderName: access_token
      creditHeaderName: imei
      signSecret: snowballsnowballsnowballsnowball
      signEnabled: false
      mock: false
      mockUserIdList:
        - 0
      expiredMinute: 43800
      ignores:

    mqtt:
      connectionUrls:
        - protocol: mqtt_tcp
          url: tcp://localhost:21883
      client:
        clientIdPrefix: group-purchase-manage
        username: system
        password: Aa&123456
      enable: true

mybatis:
  mapper-locations: classpath:/mapper/*.xml,classpath:/mapper/ext/*.xml
  configuration:
    map-underscore-to-camel-case: true
    default-fetch-size: 100
    default-statement-timeout: 30
