<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddf.group.purchase.core.mapper.GroupPurchaseInfoMapper">
  <resultMap id="BaseResultMap" type="com.ddf.group.purchase.core.model.entity.GroupPurchaseInfo">
    <!--@mbg.generated-->
    <!--@Table group_purchase_info-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="group_master_uid" jdbcType="BIGINT" property="groupMasterUid" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="ctime" jdbcType="BIGINT" property="ctime" />
    <result column="mtime" jdbcType="BIGINT" property="mtime" />
    <result column="public_flag" jdbcType="BIT" property="publicFlag" />
    <result column="wx_id_card_url" jdbcType="VARCHAR" property="wxIdCardUrl" />
    <result column="pic_urls" jdbcType="VARCHAR" property="picUrls" />
    <result column="video_url" jdbcType="VARCHAR" property="videoUrl" />
    <result column="start_time" jdbcType="BIGINT" property="startTime" />
    <result column="end_time" jdbcType="BIGINT" property="endTime" />
    <result column="service_community_id" jdbcType="BIGINT" property="serviceCommunityId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `name`, group_master_uid, `status`, content, ctime, mtime, public_flag, wx_id_card_url, 
    pic_urls, video_url, start_time, end_time, service_community_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from group_purchase_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from group_purchase_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.ddf.group.purchase.core.model.entity.GroupPurchaseInfo" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into group_purchase_info (`name`, group_master_uid, `status`, 
      content, ctime, mtime, 
      public_flag, wx_id_card_url, pic_urls, 
      video_url, start_time, end_time, 
      service_community_id)
    values (#{name,jdbcType=VARCHAR}, #{groupMasterUid,jdbcType=BIGINT}, #{status,jdbcType=INTEGER}, 
      #{content,jdbcType=VARCHAR}, #{ctime,jdbcType=BIGINT}, #{mtime,jdbcType=BIGINT}, 
      #{publicFlag,jdbcType=BIT}, #{wxIdCardUrl,jdbcType=VARCHAR}, #{picUrls,jdbcType=VARCHAR}, 
      #{videoUrl,jdbcType=VARCHAR}, #{startTime,jdbcType=BIGINT}, #{endTime,jdbcType=BIGINT}, 
      #{serviceCommunityId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.ddf.group.purchase.core.model.entity.GroupPurchaseInfo" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into group_purchase_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        `name`,
      </if>
      <if test="groupMasterUid != null">
        group_master_uid,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="ctime != null">
        ctime,
      </if>
      <if test="mtime != null">
        mtime,
      </if>
      <if test="publicFlag != null">
        public_flag,
      </if>
      <if test="wxIdCardUrl != null">
        wx_id_card_url,
      </if>
      <if test="picUrls != null">
        pic_urls,
      </if>
      <if test="videoUrl != null">
        video_url,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="serviceCommunityId != null">
        service_community_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="groupMasterUid != null">
        #{groupMasterUid,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="ctime != null">
        #{ctime,jdbcType=BIGINT},
      </if>
      <if test="mtime != null">
        #{mtime,jdbcType=BIGINT},
      </if>
      <if test="publicFlag != null">
        #{publicFlag,jdbcType=BIT},
      </if>
      <if test="wxIdCardUrl != null">
        #{wxIdCardUrl,jdbcType=VARCHAR},
      </if>
      <if test="picUrls != null">
        #{picUrls,jdbcType=VARCHAR},
      </if>
      <if test="videoUrl != null">
        #{videoUrl,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=BIGINT},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=BIGINT},
      </if>
      <if test="serviceCommunityId != null">
        #{serviceCommunityId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ddf.group.purchase.core.model.entity.GroupPurchaseInfo">
    <!--@mbg.generated-->
    update group_purchase_info
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="groupMasterUid != null">
        group_master_uid = #{groupMasterUid,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="ctime != null">
        ctime = #{ctime,jdbcType=BIGINT},
      </if>
      <if test="mtime != null">
        mtime = #{mtime,jdbcType=BIGINT},
      </if>
      <if test="publicFlag != null">
        public_flag = #{publicFlag,jdbcType=BIT},
      </if>
      <if test="wxIdCardUrl != null">
        wx_id_card_url = #{wxIdCardUrl,jdbcType=VARCHAR},
      </if>
      <if test="picUrls != null">
        pic_urls = #{picUrls,jdbcType=VARCHAR},
      </if>
      <if test="videoUrl != null">
        video_url = #{videoUrl,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=BIGINT},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=BIGINT},
      </if>
      <if test="serviceCommunityId != null">
        service_community_id = #{serviceCommunityId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ddf.group.purchase.core.model.entity.GroupPurchaseInfo">
    <!--@mbg.generated-->
    update group_purchase_info
    set `name` = #{name,jdbcType=VARCHAR},
      group_master_uid = #{groupMasterUid,jdbcType=BIGINT},
      `status` = #{status,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      ctime = #{ctime,jdbcType=BIGINT},
      mtime = #{mtime,jdbcType=BIGINT},
      public_flag = #{publicFlag,jdbcType=BIT},
      wx_id_card_url = #{wxIdCardUrl,jdbcType=VARCHAR},
      pic_urls = #{picUrls,jdbcType=VARCHAR},
      video_url = #{videoUrl,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=BIGINT},
      end_time = #{endTime,jdbcType=BIGINT},
      service_community_id = #{serviceCommunityId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>