<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddf.group.purchase.core.mapper.GroupPurchaseInfoMapper">
  <resultMap id="BaseResultMap" type="com.ddf.group.purchase.core.model.entity.GroupPurchaseInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="group_master_uid" jdbcType="BIGINT" property="groupMasterUid" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="ctime" jdbcType="BIGINT" property="ctime" />
    <result column="mtime" jdbcType="BIGINT" property="mtime" />
    <result column="public_flag" jdbcType="BIT" property="publicFlag" />
    <result column="wx_id_card_url" jdbcType="VARCHAR" property="wxIdCardUrl" />
    <result column="pic_urls" jdbcType="VARCHAR" property="picUrls" />
    <result column="video_url" jdbcType="VARCHAR" property="videoUrl" />
    <result column="start_time" jdbcType="BIGINT" property="startTime" />
    <result column="end_time" jdbcType="BIGINT" property="endTime" />
    <result column="service_community_id" jdbcType="BIGINT" property="serviceCommunityId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, `name`, group_master_uid, `status`, content, ctime, mtime, public_flag, wx_id_card_url,
    pic_urls, video_url, start_time, end_time, service_community_id
  </sql>

  <select id="selectById" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from group_purchase_info
    where id = #{id}
  </select>

  <select id="selectList" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from group_purchase_info
  </select>

  <select id="selectByQuery" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from group_purchase_info
    <where>
      <if test="query.groupMasterUid != null">
        and group_master_uid = #{query.groupMasterUid}
      </if>
      <if test="query.status != null">
        and status = #{query.status.value}
      </if>
      <if test="query.groupName != null and query.groupName != ''">
        and name like concat(#{query.groupName}, '%')
      </if>
    </where>
    order by ctime desc
  </select>

  <insert id="insert" useGeneratedKeys="true" keyProperty="id">
    insert into group_purchase_info (`name`, group_master_uid, `status`, content, ctime, mtime,
      public_flag, wx_id_card_url, pic_urls, video_url, start_time, end_time, service_community_id)
    values (#{name}, #{groupMasterUid}, #{status}, #{content}, #{ctime}, #{mtime},
      #{publicFlag}, #{wxIdCardUrl}, #{picUrls}, #{videoUrl}, #{startTime}, #{endTime}, #{serviceCommunityId})
  </insert>

  <update id="updateById">
    update group_purchase_info
    <set>
      <if test="name != null">`name` = #{name},</if>
      <if test="groupMasterUid != null">group_master_uid = #{groupMasterUid},</if>
      <if test="status != null">`status` = #{status},</if>
      <if test="content != null">content = #{content},</if>
      <if test="ctime != null">ctime = #{ctime},</if>
      <if test="mtime != null">mtime = #{mtime},</if>
      <if test="publicFlag != null">public_flag = #{publicFlag},</if>
      <if test="wxIdCardUrl != null">wx_id_card_url = #{wxIdCardUrl},</if>
      <if test="picUrls != null">pic_urls = #{picUrls},</if>
      <if test="videoUrl != null">video_url = #{videoUrl},</if>
      <if test="startTime != null">start_time = #{startTime},</if>
      <if test="endTime != null">end_time = #{endTime},</if>
      <if test="serviceCommunityId != null">service_community_id = #{serviceCommunityId}</if>
    </set>
    where id = #{id}
  </update>

  <delete id="deleteById">
    delete from group_purchase_info where id = #{id}
  </delete>
</mapper>
