<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddf.group.purchase.core.mapper.GroupPurchaseGoodMapper">
  <resultMap id="BaseResultMap" type="com.ddf.group.purchase.core.model.entity.GroupPurchaseGood">
    <!--@mbg.generated-->
    <!--@Table group_purchase_good-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="group_purchase_id" jdbcType="BIGINT" property="groupPurchaseId" />
    <result column="good_name" jdbcType="VARCHAR" property="goodName" />
    <result column="good_description" jdbcType="VARCHAR" property="goodDescription" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="stock" jdbcType="INTEGER" property="stock" />
    <result column="limit_type" jdbcType="VARCHAR" property="limitType" />
    <result column="limit_value" jdbcType="BIGINT" property="limitValue" />
    <result column="good_pic" jdbcType="VARCHAR" property="goodPic" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, group_purchase_id, good_name, good_description, price, stock, limit_type, limit_value, 
    good_pic
  </sql>
</mapper>