mysql_host: 10.88.1.87
spring:
  data:
    redis:
      host: 10.88.1.87
      port: 6379
      database: 1
      password: Aa&123456
rocketmq:
  name-server: 10.88.1.87:9876
  producer:
    group: boot-quick-producer-group
    access-key: xxxxxxx
    secret-key: xxxxxxx
    enableMsgTrace: true
    send-message-timeout: 7000
  consumer:
    group: boot-quick-consumer-group
    access-key: xxxxxxx
    secret-key: xxxxxxx
    enableMsgTrace: true

customizer:
  infra:
    mqtt:
      connectionUrls:
        - protocol: mqtt_tcp
          url: tcp://10.88.1.87:21883
      config:
        connectionUrls:
          - protocol: mqtt_tcp
            url: tcp://localhost:21883
        client:
          clientIdPrefix: group-purchase-manage
          username: system
          password: Aa&123456
        enable: true
