mysql_host: 10.127.47.145
spring:
  data:
    redis:
      host: 10.127.47.145
      port: 6379
      database: 1
      password: Aa&123456
rocketmq:
  name-server: 10.127.47.145:9876
  producer:
    group: boot-quick-producer-group
    access-key: xxxxxxx
    secret-key: xxxxxxx
    enableMsgTrace: true
    send-message-timeout: 7000
  consumer:
    group: boot-quick-consumer-group
    access-key: xxxxxxx
    secret-key: xxxxxxx
    enableMsgTrace: true

customizer:
  infra:
    mqtt:
      connectionUrls:
        - protocol: mqtt_tcp
          url: tcp://10.127.47.145:21883
    s3:
      enable: true
      endpoint: http://10.127.47.145:9000
      access-key: rYxKvE6Oko9Xq95wRe0x
      secret-key: cBVpU9I2QwtnMml3r98Z2N42jFWkvUDBvQBLmdQQ
      bucket-name: group-purchase
      region: cn-bj1
      secure: false
      path-style-access: true
