mysql_host: 192.168.10.11
spring:
  data:
    redis:
      host: 192.168.10.11
      port: 6379
      database: 1
      password: Aa&123456
rocketmq:
  name-server: 192.168.10.11:9876
  producer:
    group: boot-quick-producer-group
    access-key: xxxxxxx
    secret-key: xxxxxxx
    enableMsgTrace: true
    send-message-timeout: 7000
  consumer:
    group: boot-quick-consumer-group
    access-key: xxxxxxx
    secret-key: xxxxxxx
    enableMsgTrace: true

customizer:
  infra:
    mqtt:
      connectionUrls:
        - protocol: mqtt_tcp
          url: tcp://192.168.10.11:21883
