mysql_host: 10.88.1.135
spring:
  data:
    redis:
      host: 10.88.1.135
      port: 6379
      database: 1
      password: Aa&123456
rocketmq:
  name-server: 10.88.1.135:9876
  producer:
    group: boot-quick-producer-group
    access-key: xxxxxxx
    secret-key: xxxxxxx
    enableMsgTrace: true
    send-message-timeout: 7000
  consumer:
    group: boot-quick-consumer-group
    access-key: xxxxxxx
    secret-key: xxxxxxx
    enableMsgTrace: true

customizer:
  infra:
    mqtt:
      connectionUrls:
        - protocol: mqtt_tcp
          url: tcp://10.88.1.135:21883
