<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddf.group.purchase.mapper.UserJoinGroupInfoMapper">
  <resultMap id="BaseResultMap" type="com.ddf.group.purchase.model.entity.UserJoinGroupInfo">
    <!--@mbg.generated-->
    <!--@Table user_join_group_info-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="group_purchase_id" jdbcType="BIGINT" property="groupPurchaseId" />
    <result column="join_uid" jdbcType="BIGINT" property="joinUid" />
    <result column="ctime" jdbcType="INTEGER" property="ctime" />
    <result column="subscribe_progress" jdbcType="BIT" property="subscribeProgress" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, group_purchase_id, join_uid, ctime, subscribe_progress
  </sql>
</mapper>